.game-page-container {
  width: 1440px;
  height: 100vh;
  background-color: $colorBg;
  margin: auto;
  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
